################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/auth0-managementAPI-webapi/auth0-managementAPI-webapi/bin/Debug/netcoreapp2.0
